.parceiros {
    padding-top: 120px;
    padding-bottom: 120px;
}

.parceiros h2 {
    margin-bottom: 60px;
}

.parceiros-lista {
    padding: 0 20px;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.parceiros-lista li {
    display: flex;
    padding: 32px;
}

.parceiros-lista img {
    margin: auto;
}

.parceiros-lista li:nth-child(-n+4) {
    border-bottom: 2px solid var(--cor-2);
}

.parceiros-lista li:not(:nth-child(4n)) {
    border-right: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
    .parceiros {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .parceiros h2 {
        margin-bottom: 40px;
    }    

    .parceiros-lista {
        grid-template-columns: repeat(2, 1fr);
    }

    .parceiros-lista li:nth-child(-n+4),
    .parceiros-lista li:not(:nth-child(4n)) {
        border-bottom: none;
        border-right: none;
    }

    .parceiros-lista li:not(:nth-child(-n+2)) {
        border-top: 2px solid var(--cor-2);
    }
    
    .parceiros-lista li:not(:nth-child(2n)) {
        border-right: 2px solid var(--cor-2);
    }
}